exportPattern("^[[:alpha:]]+")
import(MASS)
import(Matrix)
import(graph)
importFrom(methods,as)
importFrom(stats, quantile, IQR, median, mad)
importFrom(RBGL,mstree.kruskal)
importFrom(RBGL,dijkstra.sp)
importFrom(SparseM, as.matrix.csr)
useDynLib(scsSolveSOCP, .registration = TRUE)
