exportPattern("^[[:alpha:]]+")
import(MASS)
import(Matrix)
import(graph)
importFrom(RBGL,mstree.kruskal)
importFrom(RBGL,dijkstra.sp)
importFrom(SparseM, as.matrix.csr)
useDynLib(scsSolveSOCP,scs_SOCP_solve, .registration = TRUE)
